@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ######### utility classes ########### */
html{
    font-size:62.5%;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.bg-dark{
    background-color: rgb(69, 58, 57);
}

/* ##### styling elements ####### */
body {
    font-family: 'Montserrat', 'sans-serif';
}

.head {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../img/1.jpg');
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.logo{
    border-radius: 2rem;
    height: 2rem;
}

.c1{
    color: white;
    text-align: center;
}

.c1 h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.9rem;
    text-transform: uppercase;
}

.c1:hover{
    color: rgb(211, 190, 193);
}

.c1 p{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

/* ######## header styling ######### */
.Navbar .logo{
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Navbar li {
    display: inline-block;
    font-size: large;
}

li a {
    display: block;
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.Navbar a:hover{
    border-bottom: 0.2rem solid black;
    color:bisque;
}

.btn1{
    color: rgb(201, 27, 27);
    font-size: 2rem;
    display: inline-block;
    background-color: white;
    border: 0.15rem solid white;
    border-radius: 2rem;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
}

.btn:hover{
    background-color: bisque;
}

/* ## boxes#  */

.c3{
    max-width: 850px;
    width: 90%;
    margin: 0 auto;
}

.c2{
    padding: 7.5rem 0;
    background-color: #bbb;
}

.row1{
    margin-bottom: 7.5rem;
    background-color: white;
}

.row2{
    background-color: white;
}

.row{
    height: 20rem;
    box-shadow: 0px 0px 20px 0px #bbb;
}

.row1{
    margin-bottom: 5rem;
}

.row1 .I1, .row2 .T1{
    float:left;
    width: 50%;
}

.row1 .T1, .row2 .I1{
    float:right;
    width: 50%;
}

.I1{
    height: 100%;
}

.row .I1 img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.T1{
    padding-left: 1rem;
    padding-right: 1rem;
}

.T1 h5{
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.T1 p{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.btn2{
    padding: 1rem 1rem;
    text-decoration: none;
    color: rgb(168, 36, 36);
    font-size: 2rem;
    border-radius: 2rem;
    margin: 1rem;
    border: 0.15rem solid red;
}

/* ### last styling ### */
.last{
    max-width: 850px;
    width: 90%;
    margin: 0 auto;
    padding: 7rem 0;
}

.last1{
    box-shadow: 5px 5px 10px 0px #bbb;
}

.last5{
    width: 33.3333%;
    float: left;
    padding: 1.5rem;
    text-align: center;
}

.last2, .last4{
    background-color:  rgb(151, 64, 64);
    color: white;
}

.last3{
    background-color: rgb(49, 46, 46);
    color:white;
}

.last5 p{
    font-size: 1.4rem;
}

.last5 h4{
    font-size: 2rem;
}
.last1::after{
    content: '';
    display: block;
    clear: both;
}

/* ### footer style ###  */
.foot{
        display: grid;
        place-items: center;
        background-color: rgb(69, 58, 57);
        color: white;
        padding: 1rem;
}
    
.foot2 i{
      margin: 1.2rem;
}
.foot p{
    font-size: 2rem;
}

/* ## about navbar styling ## */
.nav1 ul a{
    position: relative; /* or absolute, depending on your layout */
   left: 16rem; /* move the element 100 pixels to the right from its original position */
   
}

/* ### about styling ### */
.about{
    padding-top: 4rem;
    font-size: 4rem;
    border-bottom: 0.5rem solid rgb(151, 64, 64);
}

.parag{
    font-size: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.aboutline li{
    font-size: 1.8rem;
    padding: 0.3rem;
}

.aboutline1{
    float: left;
    padding-left: 25rem;
}

.aboutline2{
    float: right;
    padding-right: 25rem;
}

.aboutline li::before{
    content: "\2713";
    color: rgb(188, 63, 63);
    padding-right: 1rem;
}

.bottom{
    display: inline-block;
    padding-left: 38rem;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.bottom-item{
    width: 25%;
    text-align: center;
}

.bttm1{
    float: left;
}

.bttm2{
    float: left;
}

.bttm3{
    float: left;
}

.bttm4{
    float: left;
}

.bottom-item span{
    color: rgb(188, 63, 63);
}

.bottom-item p{
    color:  rgb(69, 58, 57);
}

.bottom-item p:hover{
    color: rgb(219, 23, 23);
}

.bottom-item span:hover{
    color: rgb(16, 16, 16);
}


/* ### banner styling ### */
.banner{
    color: white;
    background-color: rgb(200, 124, 124);
    padding: 1rem;
    box-shadow: grey;
}

.banner1{
    float: left;
    width: 60%;
    font-size: 2.5rem;
    padding-left: 2rem;
}

.banner2{
    display: inline-block;
    width: 40%;
    border: 0.2rem solid black;
    padding-left: 10rem;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
}
.banner2 a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.banner2::after{
    content: '';
    display: block;
    clear: both;
}

/* ### Contact styling #### */

.contact{
    padding: 3rem 0;
}

.company-address{
    float: left;
    width: 49%;
    padding-left: 4rem;
}

.cmpny1 h5{
    font-size: 2.2rem;
    text-transform: uppercase;
    padding-top: 1rem;
}

.cmpny2 h5{
    font-size: 2.2rem;
    text-transform: uppercase;
    padding-top: 0.8rem;
}

.cmpny3 h5{
    font-size: 2.2rem;
    text-transform: uppercase;
    padding-top: 0.8rem;
}

.cmpny1 p{
    font-size: 1.5rem;
    padding-top: 0.8rem;
}

.cmpny2 p{
    font-size: 1.5rem;
    padding-top: 1rem;
}

.cmpny3 p{
    font-size: 1.5rem;
    padding-top: 1rem;
}

.form1{
    float: right;
    width: 49%;
}

.form{
    content: '';
    display: block;
    clear: both;
}

.company-address i{
    color: rgb(201, 43, 69);
    padding-top: 1.5rem;
}

.cmpny4 img{
    height: 25rem;
    width: 28rem;
    padding-top: 1.5rem;
    object-fit: cover;
    object-position: right;
}

.form1 h1{
    border-bottom: 0.25rem solid rgb(187, 68, 90);
    text-transform: uppercase;
    font-size: 2.8rem;
}

.form1 p{
    padding-top: 0.8rem;
    font-size: 1.7rem;
}

.frm1{
    padding-top: 2rem;
    font-size: 1.5rem;
}

.frm2{
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

.frm3{
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

.frm4{
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

.form1 button{
    margin: 1rem 0; 
}

.form1 label{
    display: block;
}

.form1 input:hover{
    background-color: rgb(193, 188, 188);
}

.company-address .form1 label::after{
    color: '*';
    color: black;
}

/* ### mediaquery ### */
@media (max-width: 840px){
    hmtl{
        font-size: 50%;
    }
    .Navbar li, .Navbar .logo{
        float: none;
        display: block;
        text-align: center;
    }
}

@media (min-width: 250px) and (max-width: 440px){
    .c1 h2, .c1 p, .c1 a{
        display: block;
        padding-top: 1rem;
        width: 100%;
        font-size: small;
    }
}

@media (min-width: 440px) and (max-width: 840px){
    .c1 h2, .c1 p, .c1 a{
        display: block;
        padding-top: 1rem;
        width: 100%;
        font-size: medium;
    }
}

@media (min-width: 250px) and (max-width:650px){
    .row{
        height: auto;
        width: 100%;
    }

    .row .I1,
    .row .T1{
        float: none;
        width: 100%;
        text-align: center;
    }
    .row .bttn1, .row .bttn2{
        width: 50%;
        display: block;
        border: auto;
        padding: auto;
        margin: 50%;
        text-align: center;
    }
}

@media (min-width: 250px) and (max-width: 650px){
    .last .last5{
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
        box-shadow: 5px 5px 10px 0px #bbb;
    }

    .last1{
        box-shadow: none;
    }
}


@media (min-width: 250px) and (max-width: 650px){
    .nav1 li, .nav1 .logo{
        display: inline;
        position: none;
    }
    .banner1, .banner2{
        float: none;
        width: 100%;
        text-align: center;
    }
    .bttm1 , .bttm2, .bttm3 , .bttm4{
        float: none;
    }

    .bottom-item{
        text-align: center;
        width: 100%;
    }
    .bottom{
        display: inline;
    }
    .aboutline1 , .aboutline2{
        float: none;
        display: inline;
        text-align: center;
    }

    .form .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form .form1{
        float: none;
        width: 100%;
        height: auto;
    }
}
